# Objectives
1. Write your own function
  - 1.1 User- defined functions
  - 1.2 Multiple parameters and return values
  - 1.3 Nested functions 
  - 1.4 Default and flaxible arguments
2. Lambda function
3. Error handling 
4. Iterator and iterable
  - 4.1 Using enumerate to create an enumerate object
  - 4.2 Using zip() to create zip object
  - 4.3 Using iterators to load large files into memory
5. List comprehension and generator

## 1. Write your own function

### 1.1 User- defined functions
- Define functions without parameters
- Define functions with one parameters 
- Define functions that return a value

In [1]:
def square(): # <- Function header
    new_value = 4 ** 2 #<- Function body
    print(new_value)

square()

16

In [3]:
def square(value): # <- Function header
    new_value = value ** 2 #<- Function body
    print(new_value)

square(5)

25

In [5]:
def square(value): # <- Function header
     """Return the square of a value."""
    new_value = value ** 2 #<- Function body
    return new_value
num = square(3)

num

9

**Write a simple function**

In [6]:
# Define the function shout
def shout():
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = 'congratulations' + '!!!'

    # Print shout_word
    print(shout_word)

# Call shout
shout()

congratulations!!!

**Single-parameter functions**

In [1]:
# Define shout with the parameter, word
def shout(word):
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = word + '!!!'

    # Print shout_word
    print(shout_word)

# Call shout with the string 'congratulations'
shout('congratulations')

congratulations!!!

### 1.2 Multiple parameters and return values

In [9]:
def raise_to_power(value1, value2):
    """Raise value1 to the power of value2"""
    new_value = value1 ** value2
    return new_value

result = raise_to_power(2,3)
print(result)

8

**Turples**

In [10]:
even_nums = (2,4,6)
print(type(even_nums))

<class 'tuple'>

In [12]:
even_nums = (2,4,6)
a, b, c = even_nums
print(a)
print(b)
print(c)
print(even_nums[2])

2
4
6
6

In [13]:
# make functions return multiple values: Turples! 
def raise_to_power(value1, value2):
    """Raise value1 to the power of value2"""
    new_value1 = value1 ** value2
    new_value2 = value2 ** value1
    
    new_tuple = (new_value1, new_value2)
    
    return new_tuple

result = raise_to_power(2,3)
print(result)

(8, 9)

In [14]:
# Define shout with parameters word1 and word2
def shout(word1, word2):
    """Concatenate strings with three exclamation marks"""
    # Concatenate word1 with '!!!': shout1
    shout1 = word1 +'!!!'
    
    # Concatenate word2 with '!!!': shout2
    shout2 = word2 +'!!!'
    
    # Concatenate shout1 with shout2: new_shout
    new_shout = shout1+shout2

    # Return new_shout
    return new_shout

# Pass 'congratulations' and 'you' to shout(): yell
yell = shout('congratulations', 'you')

# Print yell
print(yell)

congratulations!!!you!!!

In [15]:
# Define shout_all with parameters word1 and word2
def shout_all(word1, word2):
    
    # Concatenate word1 with '!!!': shout1
    shout1 = word1 +'!!!'
    
    # Concatenate word2 with '!!!': shout2
    shout2 = word2 +'!!!'
    
    # Construct a tuple with shout1 and shout2: shout_words
    shout_words = (shout1, shout2)

    # Return shout_words
    return shout_words

# Pass 'congratulations' and 'you' to shout_all(): yell1, yell2
yell1,yell2 = shout_all('congratulations','you')


# Print yell1 and yell2
print(yell1)
print(yell2)

congratulations!!!
you!!!

### 1.3 Nested function

In [16]:
def mod2plus5(x1, x2, x3):
    """Returns the reminder plus 5 of three values."""
    
    def inner(x):
        """Returns the reminder plus5 of a vlaue."""
        return x %2 + 5
    
    return (inner(x1), inner(x2), inner(x3))

print(mod2plus5(1, 2, 3))

(6, 5, 6)

In [17]:
# returning functions 
def raise_val(n):
    """Return the inner function."""
    
    def inner(x):
        """Raise x to the power of n."""
        raised = x ** n
        return raised 
    
    return inner 

square = raise_val(2)
cube = raise_val(3)
print(square(2), cube(4))

4 64

In [18]:
# using nonlocal 
def outer():
    """prints the value of n."""
    n = 1
    
    def inner():
        nonlocal n
        n = 2
        print(n)
        
    inner()
    print(n)
    
outer()

2
2

In [19]:
# Define three_shouts
def three_shouts(word1, word2, word3):
    """Returns a tuple of strings
    concatenated with '!!!'."""

    # Define inner
    def inner(word):
        """Returns a string concatenated with '!!!'."""
        return word + '!!!'

    # Return a tuple of strings
    return (inner(word1), inner(word2), inner(word3))

# Call three_shouts() and print
print(three_shouts('a', 'b', 'c'))

('a!!!', 'b!!!', 'c!!!')

In [20]:
# Define echo
def echo(n):
    """Return the inner_echo function."""

    # Define inner_echo
    def inner_echo(word1):
        """Concatenate n copies of word1."""
        echo_word = word1 * n
        return echo_word

    # Return inner_echo
    return inner_echo

# Call echo: twice
twice = echo(2)

# Call echo: thrice
thrice=echo(3)

# Call twice() and thrice() then print
print(twice('hello'), thrice('hello'))

hellohello hellohellohello

In [21]:
# the keyword nonlocal
# Define echo_shout()
def echo_shout(word):
    """Change the value of a nonlocal variable"""
    
    # Concatenate word with itself: echo_word
    echo_word = word * 2
    
    # Print echo_word
    print(echo_word)
    
    # Define inner function shout()
    def shout():
        """Alter a variable in the enclosing scope"""    
        # Use echo_word in nonlocal scope
        nonlocal echo_word
        
        # Change echo_word to echo_word concatenated with '!!!'
        echo_word = echo_word + '!!!'
    
    # Call function shout()
    shout()
    
    # Print echo_word
    print(echo_word)

# Call function echo_shout() with argument 'hello'
echo_shout('hello')

hellohello
hellohello!!!

### 1.4 Default and flaxible arguments
- default arguments
- *args: returns a turple of args , when you are not sure how many arguments should be included
- **kwargs return an arbitrary number of arguments preceded by identifiers

In [25]:
# default argument
def power(number, pow = 1):
    """Raise number to the power of pow."""
    new_value = number ** pow
    return new_value

print(power(9,2))
print(power(2))

81
2

In [28]:
# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
     exclamation marks at the end of the string."""

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Concatenate '!!!' to echo_word: shout_word
    shout_word = echo_word + '!!!'

    # Return shout_word
    return shout_word

# Call shout_echo() with "Hey": no_echo
no_echo = shout_echo('Hey')

# Call shout_echo() with "Hey" and echo=5: with_echo
with_echo = shout_echo('Hey',5)

# Print no_echo and with_echo
print(no_echo)
print(with_echo)

Hey!!!
HeyHeyHeyHeyHey!!!

In [31]:
 # Define shout_echo
def shout_echo(word1, echo=1, intense=False):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Make echo_word uppercase if intense is True
    if intense is True:
        # Make uppercase and concatenate '!!!': echo_word_new
        echo_word_new = echo_word.upper() + '!!!'
    else:
        # Concatenate '!!!' to echo_word: echo_word_new
        echo_word_new = echo_word + '!!!'

    # Return echo_word_new
    return echo_word_new

# Call shout_echo() with "Hey", echo=5 and intense=True: with_big_echo
with_big_echo = shout_echo('Hey',echo=5,intense=True)

# Call shout_echo() with "Hey" and intense=True: big_no_echo
big_no_echo = shout_echo('Hey',intense=True)

# Print values
print(with_big_echo)
print(big_no_echo)

HEYHEYHEYHEYHEY!!!
HEY!!!

In [30]:
# flexible arguments
def add_all(*args):
    """Sum all values in *args together"""
    
    # initialize sum
    sum_all = 0
    
    # accumulate the sum
    for num in args: 
        sum_all += num
        
    return sum_all


print(add_all(2))
print(add_all(2,4))
print(add_all(2,4,6))

2
6
12

In [32]:
# Define gibberish
def gibberish(*args):
    """Concatenate strings in *args together."""

    # Initialize an empty string: hodgepodge
    hodgepodge=''

    # Concatenate the strings in args
    for word in args:
        hodgepodge += word

    # Return hodgepodge
    return hodgepodge

# Call gibberish() with one string: one_word
one_word = gibberish('luke')

# Call gibberish() with five strings: many_words
many_words = gibberish("luke", "leia", "han", "obi", "darth")

# Print one_word and many_words
print(one_word)
print(many_words)

luke
lukeleiahanobidarth

In [27]:
# flexible arguments
def print_all(**kwargs):
    """Print out key-value paires in **kwargs"""
    
    # Print out the key-paires
    for key, value in kwargs.items():
        print(key + ": " + value)

print_all(name='dumbledore', job='headmaster')

name: dumbledore
job: headmaster

In [33]:
# Define report_status
def report_status(**kwargs):
    """Print out the status of a movie character."""

    print("\nBEGIN: REPORT\n")

    # Iterate over the key-value pairs of kwargs
    for key, value in kwargs.items():
        # Print out the keys and values, separated by a colon ':'
        print(key + ": " + value)

    print("\nEND REPORT")

# First call to report_status()
report_status(name='luke',affiliation='jedi',status='missing')

# Second call to report_status()
report_status(name='anakin', affiliation='sith lord', status='deceased')

BEGIN: REPORT

name: luke
affiliation: jedi
status: missing

END REPORT

BEGIN: REPORT

name: anakin
affiliation: sith lord
status: deceased

END REPORT

## 2. Lambda functions
**lambda arguments : expression**

In [35]:
raise_to_power = lambda x, y: x ** y
    
raise_to_power(2,3)

8

In [36]:
# map(func, seq)
nums = [48, 6, 9, 21, 1]
square_all = map(lambda num: num ** 2, nums)
print(square_all)

<map object at 0x0000021CADD4F6D0>

In [37]:
print(list(square_all))

[2304, 36, 81, 441, 1]

In [38]:
# Define echo_word as a lambda function: echo_word
echo_word = (lambda word1,echo:word1 * echo)

# Call echo_word: result
result = echo_word('hey',5)

# Print result
print(result)

heyheyheyheyhey

In [39]:
# Create a list of strings: spells
spells = ["protego", "accio", "expecto patronum", "legilimens"]

# Use map() to apply a lambda function over spells: shout_spells
shout_spells = map(lambda item:item+'!!!', spells)

# Convert shout_spells to a list: shout_spells_list
shout_spells_list=list(shout_spells)

# Print the result
print(shout_spells_list)

['protego!!!', 'accio!!!', 'expecto patronum!!!', 'legilimens!!!']

In [40]:
# filter() filter out elements from a list that don't staisfying certain criteria
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']

# Use filter() to apply a lambda function over fellowship: result
result = filter(lambda member:len(member)>6, fellowship)

# Convert result to a list: result_list
result_list = list(result)

# Print result_list
print(result_list)

['samwise', 'aragorn', 'boromir', 'legolas', 'gandalf']

In [41]:
# reduct() computes a lit and returns a single value as a result
# Import reduce from functools
from functools import reduce

# Create a list of strings: stark
stark = ['robb', 'sansa', 'arya', 'brandon', 'rickon']

# Use reduce() to apply a lambda function over stark: result
result = reduce(lambda item1,item2:item1+item2, stark)

# Print the result
print(result)

robbsansaaryabrandonrickon

## 3. Error handling

In [42]:
# error handling with try_except
# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Initialize empty strings: echo_word, shout_words
    echo_word=''
    shout_words=''
    

    # Add exception handling with try-except
    try:
        # Concatenate echo copies of word1 using *: echo_word
        echo_word = word1 * echo

        # Concatenate '!!!' to echo_word: shout_words
        shout_words = echo_word + '!!!'
    except:
        # Print error message
        print("word1 must be a string and echo must be an integer.")

    # Return shout_words
    return shout_words

# Call shout_echo
shout_echo("particle", echo="accelerator")

word1 must be a string and echo must be an integer.

''

In [43]:
# error handling by raising an error
# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Raise an error with raise
    if echo < 0:
        raise ValueError('echo must be greater than or equal to 0')

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Concatenate '!!!' to echo_word: shout_word
    shout_word = echo_word + '!!!'

    # Return shout_word
    return shout_word

# Call shout_echo
shout_echo("particle", echo=5)

'particleparticleparticleparticleparticle!!!'

## 4. Lterators and iterables
*An object wiht an accociated iter() method*
<br>
*Apply iter() to an iterable creates an iterator*
<br>
*Produces next value with next()

In [1]:
# interators 
word = 'Data'
it = iter(word)
print(next(it))
print(next(it))

D
a

In [2]:
# interators with *: no more values to go through!
word = 'Data'
it = iter(word)
print(*it)

D a t a

In [ ]:
# iterating over file connections
file = open('file.txt')
it = iter(file)
print((next(it)))
print((next(it)))

In [ ]:
Output:

This is the first line. 
This is the second line.

In [5]:
# Create a list of strings: flash
flash = ['jay garrick', 'barry allen', 'wally west', 'bart allen']

# Print each list item in flash using a for loop
for person in flash:
    print(person)


# Create an iterator for flash: superhero
superhero=iter(flash)

# Print each item from the iterator
print(next(superhero))
print(next(superhero))
print(next(superhero))
print(next(superhero))

jay garrick
barry allen
wally west
bart allen
jay garrick
barry allen
wally west
bart allen

In [7]:
# Create an iterator for range(3): small_value
small_value = iter(range(3))

# Print the values in small_value
print(next(small_value))
print(next(small_value))
print(next(small_value))

# Loop over range(3) and print the values
for num in range(3):
    print(num)


# Create an iterator for range(10 ** 100): googol
googol = iter(range(10**100))

# Print the first 5 values from googol
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))

0
1
2
0
1
2
0
1
2
3
4

In [8]:
# Iterators as function arguments
# Create a range object: values
values = range(10,21)

# Print the range object
print(values)

# Create a list of integers: values_list
values_list = list(values)

# Print values_list
print(values_list)

# Get the sum of values: values_sum
values_sum = sum(values)

# Print values_sum
print(values_sum)

range(10, 21)
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
165

### 4.1 Using enumerate to create an enumerate object
*Using list() to turn the object into a tuple*

In [10]:
avengers = ['hawkeye','iron man', 'thor', 'quicksilver']
e = enumerate(avengers)
print(type(e))
e_list = list(e)
print(e_list)

<class 'enumerate'>
[(0, 'hawkeye'), (1, 'iron man'), (2, 'thor'), (3, 'quicksilver')]

In [16]:
# unpack enumerate object
# Change index to start from 1 instead of 0
for index, value in enumerate(avengers, start = 1):
    print(index, value)

1 hawkeye
2 iron man
3 thor
4 quicksilver

In [23]:
# Create a list of strings: mutants
mutants = ['charles xavier', 
            'bobby drake', 
            'kurt wagner', 
            'max eisenhardt', 
            'kitty pryde']

# Create a list of tuples: mutant_list
mutant_list = list(enumerate(mutants))

# Print the list of tuples
print(mutant_list)

# Unpack and print the tuple pairs
for index1, value1 in enumerate(mutants):
    print(index1, value1)

# Change the start index
for index2, value2 in enumerate(mutants,start=1):
    print(index2, value2)

[(0, 'charles xavier'), (1, 'bobby drake'), (2, 'kurt wagner'), (3, 'max eisenhardt'), (4, 'kitty pryde')]
0 charles xavier
1 bobby drake
2 kurt wagner
3 max eisenhardt
4 kitty pryde
1 charles xavier
2 bobby drake
3 kurt wagner
4 max eisenhardt
5 kitty pryde

### 4.2 Using zip() to create zip object
*which is an iterator of turples turing to list to print out*

In [18]:
avengers = ['hawkeye','iron man', 'thor', 'quicksilver']
names = ['barton', 'stark', 'odinson', 'maximoff']
z = zip(avengers, names)
print(type(z))
z_list = list(z)
print(z_list)

<class 'zip'>
[('hawkeye', 'barton'), ('iron man', 'stark'), ('thor', 'odinson'), ('quicksilver', 'maximoff')]

In [19]:
# unpack the zip object
for z1, z2 in zip(avengers, names):
    print(z1, z2)

hawkeye barton
iron man stark
thor odinson
quicksilver maximoff

In [22]:
# Using splat to print all the ojects
avengers = ['hawkeye','iron man', 'thor', 'quicksilver']
names = ['barton', 'stark', 'odinson', 'maximoff']
z = zip(avengers, names)
print(*z)

('hawkeye', 'barton') ('iron man', 'stark') ('thor', 'odinson') ('quicksilver', 'maximoff')

In [25]:
mutants = ['charles xavier', 'bobby drake', 'kurt wagner', 'max eisenhardt', 'kitty pryde']
aliases = ['prof x', 'iceman', 'nightcrawler', 'magneto', 'shadowcat']
powers = ['telepathy', 'thermokinesis', 'teleportation', 'magnetokinesis', 'intangibility']

# Create a list of tuples: mutant_data
mutant_data = list(zip(mutants,aliases,powers))

# Print the list of tuples
print(mutant_data)

# Create a zip object using the three lists: mutant_zip
mutant_zip = zip(mutants,aliases,powers)

# Print the zip object
print(mutant_zip)

# Unpack the zip object and print the tuple values
for value1,value2,value3 in mutant_zip:
    print(value1, value2, value3)

[('charles xavier', 'prof x', 'telepathy'), ('bobby drake', 'iceman', 'thermokinesis'), ('kurt wagner', 'nightcrawler', 'teleportation'), ('max eisenhardt', 'magneto', 'magnetokinesis'), ('kitty pryde', 'shadowcat', 'intangibility')]
<zip object at 0x0000013273800BC0>
charles xavier prof x telepathy
bobby drake iceman thermokinesis
kurt wagner nightcrawler teleportation
max eisenhardt magneto magnetokinesis
kitty pryde shadowcat intangibility

In [26]:
mutants = ['charles xavier', 'bobby drake', 'kurt wagner', 'max eisenhardt', 'kitty pryde']
powers = ['telepathy', 'thermokinesis', 'teleportation', 'magnetokinesis', 'intangibility']

# Create a zip object from mutants and powers: z1
z1 = zip(mutants,powers)

# Print the tuples in z1 by unpacking with *
print(*z1)

# Re-create a zip object from mutants and powers: z1
z1 = zip(mutants,powers)

# 'Unzip' the tuples in z1 by unpacking with * and zip(): result1, result2
result1, result2 = zip(*z1)


# Check if unpacked tuples are equivalent to original tuples
print(result1 == mutants)
print(result2 == powers)

('charles xavier', 'telepathy') ('bobby drake', 'thermokinesis') ('kurt wagner', 'teleportation') ('max eisenhardt', 'magnetokinesis') ('kitty pryde', 'intangibility')
False
False

### 4.3 Using iterators to load large files into memory

In [ ]:
# Initialize an empty dictionary: counts_dict
counts_dict = {}

# Iterate over the file chunk by chunk
for chunk in pd.read_csv('tweets.csv',chunksize = 10):

    # Iterate over the column in DataFrame
    for entry in chunk['lang']:
        if entry in counts_dict.keys():
            counts_dict[entry] += 1
        else:
            counts_dict[entry] = 1

# Print the populated dictionary
print(counts_dict)

In [ ]:
Output:
    
{'en': 97, 'et': 1, 'und': 2}

In [ ]:
# Define count_entries()
def count_entries(csv_file, c_size, colname):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    # Initialize an empty dictionary: counts_dict
    counts_dict = {}

    # Iterate over the file chunk by chunk
    for chunk in pd.read_csv(csv_file, chunksize=c_size):

        # Iterate over the column in DataFrame
        for entry in chunk[colname]:
            if entry in counts_dict.keys():
                counts_dict[entry] += 1
            else:
                counts_dict[entry] = 1

    # Return counts_dict
    return counts_dict

# Call count_entries(): result_counts
result_counts = count_entries('tweets.csv', 10, 'lang')

# Print result_counts
print(result_counts)

In [ ]:
Output:
    
{'en': 97, 'et': 1, 'und': 2}

## 5. List comprehensions and generators
- Iterable 
- Iterator variables (represent members of iterable)
- Output expression

In [32]:
# populate a list with a for loop
nums = [12, 8, 21, 3, 16]
new_nums = []
for num in nums: 
    new_nums.append(num + 1)
    
print(new_nums)

[13, 9, 22, 4, 17]

In [31]:
# populate a list with list comprehension 
nums = [12, 8, 21, 3, 16]
new_nums = [num + 1 for num in nums] # [output expression for iterator variable in iterable]

new_nums

[13, 9, 22, 4, 17]

In [30]:
result = [num for num in range(11)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
# nested for loop
pairs_1 = []
for num1 in range(0,2):
    for num2 in range(6,8):
        pairs_1.append((num1, num2))
        
pairs_1

[(0, 6), (0, 7), (1, 6), (1, 7)]

In [34]:
pairs_1 = [(num1, num2) for num1 in range(0,2) for num2 in range(6,8)]
pairs_1

[(0, 6), (0, 7), (1, 6), (1, 7)]

In [36]:
# Create list comprehension: squares
squares = [ i**2 for i in range(0,10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
# Create a 5 x 5 matrix using a list of lists: matrix
matrix = [[col for col in range(0,5)] for row in range(0,5)
]
# Print the matrix
for row in matrix:
    print(row)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

### advanced comprehensions
- *conditional comprehensions*
- *Dict comprehensions*

In [38]:
new_num = [num ** 2 for num in range(10) if num % 2 == 0]
new_num

[0, 4, 16, 36, 64]

In [39]:
new_num = [num ** 2 if num % 2 == 0 else 0  for num in range(10)]
new_num

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0]

In [40]:
pos_neg = {num: -num for num in range(9)}
pos_neg

{0: 0, 1: -1, 2: -2, 3: -3, 4: -4, 5: -5, 6: -6, 7: -7, 8: -8}

In [41]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create list comprehension: new_fellowship
new_fellowship = [ member for member in fellowship if len(member) >= 7]

# Print the new list
print(new_fellowship)

['samwise', 'aragorn', 'legolas', 'boromir']

In [42]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create list comprehension: new_fellowship
new_fellowship = [member if len(member)>=7 else ''  for member in fellowship]

# Print the new list
print(new_fellowship)

['', 'samwise', '', 'aragorn', 'legolas', 'boromir', '']

In [43]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create dict comprehension: new_fellowship
new_fellowship = {member: len(member) for member in fellowship}

# Print the new dictionary
print(new_fellowship)

{'frodo': 5, 'samwise': 7, 'merry': 5, 'aragorn': 7, 'legolas': 7, 'boromir': 7, 'gimli': 5}

### Generator expression returns a generator object
*An object does not occupy the memory but can be iterated to produce elements of the list as required*

In [45]:
result = (num ** 2 for num in range(10) if num % 2 == 0)
print(type(result))

for num in result: 
    print(num)

<class 'generator'>
0
4
16
36
64

In [49]:
# pass generator object to a list to create list object
result = (num ** 2 for num in range(10) if num % 2 == 0)
print(next(result))
print(next(result))

result_list = list(result)
print(result_list)

0
4
[16, 36, 64]

**Generator functions produce generator objects when called**

In [51]:
def num_sequence(n):
    """Generate values from 0 to n."""
    i = 0
    while i < n:
        yield i
        i += 1

result = num_sequence(5)
print(type(result))

<class 'generator'>

In [52]:
for item in result: 
    print(item)

0
1
2
3
4

In [55]:
# Create generator object: result
result = (i for i in range(6))

# Print the first 5 values
print(next(result))
print(next(result))
print(next(result))
print(next(result))
print(next(result))

# Print the rest of the values
for value in result:
    print(value)

0
1
2
3
4
5

In [56]:
# changing the output in generator expressions
# Create a list of strings: lannister
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Create a generator object: lengths
lengths = (len(person) for person in lannister)

# Iterate over and print the values in lengths
for value in lengths:
    print(value)

6
5
5
6
7

In [57]:
# build a generator
# Create a list of strings
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Define generator function get_lengths
def get_lengths(input_list):
    """Generator function that yields the
    length of the strings in input_list."""

    # Yield the length of a string
    for person in input_list:
        yield len(person)

# Print the values generated by get_lengths()
for value in get_lengths(lannister):
    print(value)

6
5
5
6
7